.main {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.poeImageWrapper {
    position: fixed;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: -1;
}

.weddingTextWrapper {
    padding: 2rem 1rem;
    border-radius: 5px;
    background-color: #FFFDD0;
    box-shadow: 5px 5px 15px 5px #000000;
}

.ourNames {
    margin: 0;
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
}

.whatWeAreDoing {
    margin: 0;
    font-style: italic;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
}

.weddingLocation {
    margin: 0;
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
}

.weddingDatePrefix {
    margin: 0;
    font-style: italic;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
}

.weddingDate {
    margin: 0;
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
}
